@import "global-style.scss";

.options{
    width: 100vw;
    height: 100vh;
    @include display-flex(row, center, center);
    
    .calculadora {
        @include display-flex(column, center, center);
        border-radius: 10px;
        background-color: $background-calculator;
        position: relative;
        z-index: 9;
        height: 70%;
        width: 55%;
        color: white;
        
        h1 {
            text-transform: uppercase;
        }
        
        .optionsOptions {
            @include display-flex(row, center, center);
            width: 100%;
            height: 50vh;
            text-align: center;
            
            p, input, button {
                margin: 3%;
            }
        }
        
        .optionsInput {
            position: relative;
            @include display-flex(column, space-around, center);
            width: 40%;
            height: 50vh;
            
            input {
                width: 30%;
                background-color: $background-calculator;
                border: solid $vermelho-terra 2px;
                color: white;
                font-family: Yanone Kaffeesatz, sans-serif;
                font-size: 11pt;
                text-align: center;
            }
            
            .calculate {
                text-transform: uppercase;
                padding: 5%;
                background-color: $vermelho-terra;
                border: none;
                color: white;
                font-family: Yanone Kaffeesatz, sans-serif;
                font-size: 12pt;
                letter-spacing: 4px;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        .optionsAnswer {
            @extend .optionsInput;
            height: 20%;
            p {
                margin: 5%;
            }
        }
        
        .optionsTitle {
            text-transform: uppercase;
            color: white;
            //@include display-flex(column, center, center);
            margin: 0;
        }
    }
}

@media screen and (max-width: 425px) {
    .options {
        .calculadora {
            width: 80%;
            height: 75%;
            border-radius: 10px;

            .optionsAnswer {
                height: 50%;
            }
            optionsInput {
                input {
                    width: 60%;
                }
            }
            h1 {
                font-size: 18pt;
            }
        }
        p {
            text-align: center;
            font-size: 9pt;
        }
    }
}