@import "global-style.scss";


.cover {
    .coverText{
        position: absolute;
        z-index: 4;
        color: #FFFFFF;
        @include display-flex(column, center, center);
        width: $tela-perc;
        height: 80%;
        
        .coverTitle {
            font-size: 50pt;
            text-transform: uppercase;
        }
    }
}