@import "global-style.scss";


.cover {
    .coverBackground {
        z-index: 1;
        img {
            width: $tela-perc;
            height: $tela-perc;
            object-fit: cover;
            position: absolute;
        }
    }

    .coverText{
        position: absolute;
        z-index: 4;
        color: #FFFFFF;
        @include display-flex(column, center, center);
        width: $tela-perc;
        height: 80%;
        
        .coverTitle {
            font-size: 50pt;
            text-transform: uppercase;
        }

        .coverOptions {
            width: 60%;
            height: 45%;
            @include display-flex(row, space-around, center);
        }
    }
}